body {
    background-color:white;
    color: white;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #FFB333;
}

h1 {
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 100%;
}

p {
    font-size: 20px;
    margin-top: 30px;
}

.logo {
    cursor: auto;
    width: 150px;
    margin-right: auto;
    margin-left: 30px;
}

.heading {
    padding: 130px 200px;
    background-color: #FFB333;
}

.layerSeparator {
    background-color: #FFB333;
    margin: 50px;
    border-radius: 10px;
}

.borderContent {
    margin: 60px;
}

.marginkanan {
    margin-right: 30px;
}

.judulStyle {
    background-color: whitesmoke;
    padding: 5px;
}

.formValid {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    width:500px;
}

.centerContent {
    display: flex;
    justify-content: center;
}

.submitStyle {
    margin-top: 15px;
    padding: 5px 15px;
    background-color: green;
    border: white;
    color: white;
    border-radius: 5px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 15px 2px 0px 2px;
}

.nav_links li a {
    transition: 0.3s ease 0s;
    color:  #213E7B;
    padding: 10px;
}

.nav_links li a:hover {
    text-decoration: none;
    background-color: #FFC000;
}
